<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Exclusão de registro</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Confirma exclusão de registro?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(true); deletarPessoa()">Sim</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(false)">Não</button>
  </div>
</ng-template>

<div class="container-fluid">
  <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit(pessoaForm.value)">
    <input type="hidden" class="form-control" formControlName="id" />
    <div class="form-group">
      <label for="lblEmail">Email</label>
      <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Insira o email">
    </div>
    <div class="form-group">
      <label for="lblNome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" placeholder="Insira o nome completo">
    </div>
    <div class="form-group">
      <label for="lblEndereco">Endereço</label>
      <input type="text" class="form-control" formControlName="endereco" placeholder="Insira um endereço">
    </div>
    <div class="form-group">
      <label for="lblCpf">CPF</label>
      <input type="text" class="form-control" formControlName="cpf" appOnlyNumbers placeholder="Insira um CPF válido - Somente números">
    </div>
    <div class="form-group">
      <label for="lblTelefone">Telefone</label>
      <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone - Somente números">
    </div>
    <button type="submit" class="btn btn-primary mr-3" [disabled]="!pessoaForm.valid">{{(id == null || isGuidEmpty(id) ? "Adicionar" : "Atualizar")}}</button>
    <button type="button" class="btn btn-dange mr-3r" [hidden]="(id == null || isGuidEmpty(id))" (click)="open(content)">Apagar</button>
    <button type="button" class="btn btn-warning mr-3" (click)="voltar()">Apagar</button>
  </form>
</div>

